@import url(./nav.css);
@import url(./section1.css);
@import url(./section2.css);
@import url(./section3.css);
@import url(./section4.css);
@import url(./section5.css);
@import url(./footer.css);

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

:root{
    --color1: #4B321D;
    --color2: #F1F1EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: var(--color2);
}
button:hover{
    background: var(--color1);
    color: var(--color2);
}
button:active{
    background: #c7956c;
}